.header {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 375px;
    min-height: 78px;
    margin: 0 auto;
    padding: 24px 32px 24px 15px;
    background-color: #ffffff;
    align-items: center;
}