.footer {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding-top: 48px;
    padding-bottom: 32px;
}

.footer__main {
    display: flex;
    background-color: #ffffff;
    min-height: 126px;
}

.footer__popup-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.footer__copyright {
    font-size: 14px;
    line-height: 18px;
}